.fa-bold:before {
  content: 'B' !important;
}

.fa-italic:before {
  content: 'I' !important;
}

.fa-header:before {
  content: 'H' !important;
}

.fa-quote-left:before {
  content: '❝' !important;
}

.mg-rg-10{
  margin-right: 10px;
}

.mg-custom{
  margin: 0 0 0 !important;
}

.mg-rg-5{
  margin-right: 5px !important;
}