<div class="tt-heding type-3">
  <h5 class="tt-heding-title c-h5 txt-uppercase">
    <span><small><%= t ".latest_news" %></small></span>
  </h5>
</div>
<div class="empty-space marg-lg-b20"></div>
<ul class="tt-spost-wrapper">
  <% latest_news.each do |news| %>
    <li>
      <div class="tt-spost">
        <div class="tt-spost-date">
          <%= l news.created_at, format: :date_month_year_concise %>
        </div>
        <%= link_to news.title, news_path(news), class: "tt-post-title" %>
      </div>
    </li>
  <% end %>                           
</ul>
<div class="empty-space marg-lg-b40"></div> 
