<div class="news">
  <h3><%= t ".latest_news" %></h3>
  <ul>
    <% latest_news.each do |news| %>
      <li>
        <%= link_to news.title, news_path(news) %>
        <span class="date">
          <%= l news.created_at, format: :date_month_year_concise %>
        </span>
      </li>      
    <% end %>
  </ul>
</div>
