<div class="tt-topheading background-block top-heading-custom">
  <div class="container">
  <h2 class="tt-topheading-title c-h3"><span><%= title %></span></h2>
    <ul class="tt-breadcrumbs">
      <li>
        <%= link_to root_path do%>
          <i class="fa fa-home" aria-hidden="true"></i>
          <%= t ".home" %>
        <% end %>
      </li>
      <li><span><%= page_name %></span></li>
    </ul>
  </div>
</div>
