<div id="breadcrumb" class="full-breadcrumb">
  <div class="container">
    <div class="header-page row">
      <div class="title-page col-md-6 col-sm-6">
        <h2><%= title %></h2>
      </div>
      <div class="breadcrumbs col-md-6 col-sm-6">
        <ul>
          <li>
            <%= link_to root_path do%>
              <%= t ".home" %>
            <% end %>
          </li>
          <li class="active"><span><%= page_name %></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
