<div id="bottom-b" class="full-bottom-b">
  <div class="container">
    <div class="partner">
      <h2 class="title-box"><%= t ".our_clients" %></h2>
      <div class="js-partner all-partner">
        <div class="partner-item">
          <img src="media/partner-1.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-2.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-3.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-4.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-5.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-6.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-7.jpg">
        </div>
        <div class="partner-item">
          <img src="media/partner-8.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
