body {
  margin: 0;
  padding: 0;
  font: 14px/22px "Roboto";
  color: $color-base;
}

body *{
  box-sizing: border-box;
}

a {
  color: $color-base;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

#wrapper {
  position: relative;
  width: 100%;
}

.container {
  width: 1210px;
}

/**Header**/

#header {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background-color: $color-white;
}

#mainbody {
  margin-top: 90px;
}

/**Slide**/

#showcase {
  position: relative;
  width: 100%;
  &.full-showcase {
    padding: 45px 0;
    background: url("../images/bg-slide.jpg") center left no-repeat;
    background-size: cover;
  }
}

/**Top b**/

#top-b {
  position: relative;
  width: 100%;
  &.full-top-b {
    padding: 20px 0;
    background: url("../images/bg-full.jpg") center left no-repeat;
    background-size: cover;
  }
}

/** Copyright **/

#copyright {
  padding: 15px 0;
  background-color: rgba(7, 30, 95, 0.75);
}

/** Breadcrumb **/

#breadcrumb {
  width: 100%;
  position: relative;
}

#main-content {
  width: 100%;
  position: relative;
  &.full-content {
    padding: 33px 0;
  }
}