/**
* Ver 2017/07/12
* Color
*/

$color-base: #333333;
$color-black: #000000;
$color-grey: #666666;
$color-gain: #4D4D4D;
$color-green: #329d7b;
$color-light-green: #3ab991;
$color-blue: #294696;
$color-light-blue: #218de0;
$color-white: #ffffff;


/**
* Ver 2017/07/12
* Background
*/

$bg-blue: #294696;
$bg-green: #3ab991;



/**
* Ver 2017/07/12
* Border
*/

$border-color-grey: #e2e2e2;


/**
* Ver 2017/07/12
* Gutter
*/
$gutter-1: 12px;
$gutter-2: 14px;
$gutter-3: 16px;
$gutter-4: 18px;
$gutter-5: 20px;
$gutter-6: 24px;
$gutter-7: 26px;