<div class="addresses-block">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.402804731353!2d105.78178195002619!3d21.016562885936278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4c85d8c3f1%3A0xd2c6f1171eb5829a!2sFramgia+Vietnam!5e0!3m2!1svi!2s!4v1497971290602" class="contact-maps" frameborder="0" allowfullscreen></iframe>
</div>
