<div id="sidebar" class="rightbar col-md-3 col-sm-3">
  <%= render "shared/popular_course", popular_courses: @popular_courses %>
  <%= render "shared/latest_news", latest_news: @latest_news %>
</div>
