<div class="col-md-3">
  <div class="pleft20">
    <div class="empty-space marg-lg-b90 marg-sm-b50 marg-xs-b30"></div>
    <div class="tt-heding type-3">
      <h5 class="tt-heding-title c-h5 txt-uppercase">
        <span><small><%= t ".course_category" %></small></span>
      </h5>
    </div>
    <div class="empty-space marg-lg-b10"></div>
    <%= render "course_categories" %>
    <div class="empty-space marg-lg-b30"></div>
  </div>                    
</div>
