@import 'variables/color';

.tt-two-colors {
  .contain-courses {
    display: flex;
    flex-wrap: wrap;

    [class*='item-course'] {
      display: flex;
      flex-direction: column;
    }
  }
}

.type-2-custom {
  img {
    height: 100%;
    width: 100%;
  }

  height: 100%;
}

.image-course {
  max-height: 400px;
  height: 100%;
  width: 100%;
}

.image_author {
  height: 62;
  width: 62;
}

.image-w100-h100 {
  height: 100%;
  width: 100%;
}

.course-schedule-container {
  margin-bottom: 10px;
  margin-top: 10px;
}
