@import 'variables/color';

.tt-two-colors {
  .contain-courses {
    display: flex;
    flex-wrap: wrap;

    [class*='item-course'] {
      display: flex;
      flex-direction: column;
    }
  }
}

.image-w880-h337 {
  height: 337px;
  width: 880px;
}

.image-w278-h203 {
  height: 203px;
  width: 278px;
}

.image-h210 {
  height: 210px;
}

.detail-class .full-info .badge {
  display: inline-block;
  padding: 0 15px 0 20px;
  height: 28px;
  line-height: 28px;
  color: #ffffff;
  font-size: 15px;
  background-color: #294696;
  border-radius: 0px;
}
