.logo-faa-img {
  height: 60px;
  width: 258px;
}

.faa-header-text a {
  font-family: 'Roboto' !important;
}

.footer-info {
  .row {
    display: flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }
}

.tt-header {
  height: 100px !important;
  padding-top: 0 !important;
}

.stick {
  top: 0 !important;
}

.tt-header-margin {
  height: 100px !important;
}
