.registration-success-message {
  padding-top: 50px;
  text-align: center;

  h1 {
    font-size: 36px;
    font-weight: 900;
  }

  p {
    font-size: 20px;
    font-weight: 600;
  }
}

.registration-success-button {
  margin-bottom: 30px;

  .more-course a {
    float: right;
    padding: 5px;
  }

  .this-course a {
    float: left;
    padding: 5px;
  }
}
