@import 'variables/color';

.trainers-trainer-wrapper {
  text-align: center;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }

  .trainers-trainer-detail {
    height: 100%;

    .trainers-avatar {
      height: 260px;
      width: 260px;
    }
  }

  .trainer-name {
    text-transform: uppercase;
  }
}

.trainer-avatar {
  width: 100%;

  img {
    width: 100%;
  }
}

.trainers-trainer-cer {
  li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 10px;
  }
}

.trainer-introuction {
  color: $very-dark-gray;
  letter-spacing: 0.5px;
  line-height: 44px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  word-break: break-word;
}

.details-trainer-name {
  margin-left: 20px;
  margin-bottom: 20px;
}

.details-trainer-quote:before {
  content: "\201C";
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 5px;
}

.details-trainer-quote {
  display:block;
  background: $white;
  padding: 15px 20px 15px 45px;
  margin-top: 20px;
  position: relative;
  border-left: 15px solid $yellow63p;
  border-right: 2px solid $yellow63p;
  font-size: 16px;
  line-height: 1.2;
  font-style: italic;
  text-align: justify;
  -moz-box-shadow: 2px 2px 15px;
  -webkit-box-shadow: 2px 2px 15px;
  box-shadow: 2px 2px 15px;
}
