@import 'variables/color';

.trainers-trainer-wrapper {
  text-align: center;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  }

  .trainers-trainer-detail {
    height: 100%;

    .trainers-avatar {
      height: 260px;
      width: 260px;
    }
  }

  .trainer-name {
    text-transform: uppercase;
  }
}

.trainer-avatar img {
  height: 492px;
  width: 370px;
}

.trainers-trainer-cer {
  li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-right: 10px;
  }
}

.trainer-introuction {
  color: $very-dark-gray;
  letter-spacing: 0.5px;
  line-height: 44px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-left: 30px;
  margin-right: 20px;
  word-break: break-word;
}
