<div class="full-avatar col-md-5 col-sm-5">
  <div class="avatar">
    <%= load_image @trainer, "image-w480-h546" %>
  </div>
  <h3 class="name col-md-8 col-md-offset-2">
    <%= @trainer.name %>
    <span><%= @trainer.position %></span>
  </h3>
</div>

<div class="full-info col-md-7 col-sm-7">
  <%= markdown @trainer.introduction %>
</div>
