<header class="tt-header">
  <div class="container">
    <div class="top-inner">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "logo-faa.png", class: "logo-faa-img", alt: t(".logo_alt") %>
      <% end %>
    </div>
    <button class="cmn-toggle-switch"><span></span></button>
    <div class="toggle-block">
      <nav class="main-nav clearfix">
        <ul class="faa-header-text">
          <%= view_object(:home_tabs).html %>
        </ul>
      </nav>
    </div>
  </div>
</header>
